<!DOCTYPE html>
<h1>Tra Tu</h1>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter OTP</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Vui lòng nhập OTP để trả tủ</h1>
    <form action="/enter_password" method="post">
        <input type="password" name="password" id="enter_password" required>
        <br>
        <button type="button" onclick="appendNumber('1')">1</button>
        <button type="button" onclick="appendNumber('2')">2</button>
        <button type="button" onclick="appendNumber('3')">3</button>
        <br>
        <button type="button" onclick="appendNumber('4')">4</button>
        <button type="button" onclick="appendNumber('5')">5</button>
        <button type="button" onclick="appendNumber('6')">6</button>
        <br>
        <button type="button" onclick="appendNumber('7')">7</button>
        <button type="button" onclick="appendNumber('8')">8</button>
        <button type="button" onclick="appendNumber('9')">9</button>
        <br>
        <button type="submit">Mở Tủ</button>
        <button type="button" onclick="clearPassword()">Clear</button>
    </form>
    <script src="/static/script.js"></script>
</body>
</html>